table {
    border: 1px;
    width: 100px;
}

time, .mytemp {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

time:hover, .mytemp:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #555;
}