.twt {
    min-height: 30px;
    padding: 9px 12px;
    border: 1px dashed;
    overflow-wrap: break-word;
}

.strong {
    font-weight: bold;
}

label:after {
    content: ':';
}

#zip {
    padding: 15px;
}
