<html>
<head>
</head>
<body>
<nav class="clear navbar navbar-inverse navbar-fixed-top hidden-print">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CS275</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="https://aaomidi.github.io/aao53-CS275-summer2016/">Home</a></li>
                <li><a href="https://aaomidi.github.io/aao53-CS275-summer2016/Labs">Labs</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>