body {
    padding-top: 100px;
}

.row#game {
    width: 400px;
    height: 400px;
    margin: 5vh auto;
}

.col-xs-4 {
    height: 33.3%;
    width: 33.3%;
    border: solid black 1.5px;
    text-align: center;
    box-shadow: 0 1px 20px black;
    background-color: darkgrey;
    color: white;
    font-size: 100px;
}
